<p>
  cv works!
</p>








<A NAME="haut">
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="2" WIDTH="730">
<TR>
<TD WIDTH="8" BGCOLOR="#BFC7DF"></TD>
<TD>
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
  
<TR>
<!--<TD VALIGN="MIDDLE"> -->
<FONT FACE="Arial, Helvetica, sans-serif" COLOR="#303A6B" SIZE="2">
<B>
<!-- ##### VOS NOMS ET PRENOMS --> {{appNomPrenom}}
<BR>
<!-- ##### VOTRE ADRESSE - LIGNE 1 : --> {{appAdresseLigne1}}
<BR>
<!-- ##### VOTRE ADRESSE - LIGNE 2 : --> 1, bd Durand
<BR>
<!-- ##### VOTRE ADRESSE - LIGNE 3 : --> 75013 Paris
<BR><B>T&eacute;l. :</B> 
<!-- ##### VOTRE NUMERO DE TELEPHONE : --> 00 00 00 00 00
<BR>
<BR>
<B>E-mail :</B> 
<!-- ##### REMPLACER CI-DESSOUS  "votre_nom@votre_adresse.fr" PAR VOTRE ADRESSE EMAIL : -->
<A HREF="mailto:votre_nom@votre_adresse.fr">votre_nom@votre_adresse.fr</A>
<BR><B>Page personnelle :</B> 
<!-- ##### REMPLACER CI-DESSOUS "http://www.votre_page-perso.fr/" PAR L'ADRESSE DE VOTRE PAGE PERSO : -->
<A HREF="http://www.votre_page-perso.fr/">http://www.votre_page-perso.fr/</A>

<BR>
<!--</TD>-->

<!--<TD ALIGN="LEFT"  VALIGN="TOP">-->
<FONT FACE="Arial, Helvetica, sans-serif" COLOR="#303A6B" SIZE="2">
<!-- ##### VOTRE DATE DE NAISSANCE : --> 12 Mars 19XX
- 
<!-- ##### VOTRE AGE : --> XX ans
<BR>
<!-- ##### VOTRE LIEU DE NAISSANCE : --> Née à Tours (37)
<BR>
<!-- ##### NATIONALITE : --> Français
- 
<!-- ##### VOTRE ETAT CIVIL : --> Célibataire
<BR>
<!-- ##### DIVERS : --> Permis de conduire B

<BR>
<!--</TD>-->

<!-- **1** -->
<TD ALIGN="RIGHT" VALIGN="TOP">
<IMG SRC="./app/images/2.jpg" BORDER="0" WIDTH="120" HEIGHT="135" >
</TD>
<!-- **2** -->

<!--</TR>-->
<!--</TABLE>-->


<FONT FACE="Arial, Helvetica, sans-serif" COLOR="#303A6B" SIZE="2"> <DIV STYLE="text-align:justify;">
<BR>
<BR>
<B><FONT SIZE="5">
<!-- ##### INTITULE DU CV - LIGNE 1 :  --> Ingénieur études et développement
<BR>
<!-- ##### INTITULE DU CV - LIGNE 2 :  --> Secteur : Informatique
<BR>
</FONT></B>
<BR>
<BR>
<BR>






<B>FORMATION :</B><BR>
<HR NOSHADE WIDTH="100%" SIZE="1" >
<BR>

<B>2000 : </B>
<!-- ##### INTITULE DE VOTRE DERNIER DIPLOME : --> Diplôme d'ingénieur ESIEA Paris' (ESIEA Paris, Paris)
<BR>
<BR>
<B>1998 : </B>
<!-- ##### INTITULE DE VOTRE AVANT-DERNIER DIPLOME : --> BTS Electronique (Lycée Paul Eluard, Saint Denis)
<BR>
<BR>
<B>Langues :</B> 
<BR>
<!-- ##### LANGUE 1 : --> - Anglais : Lu, parlé, écrit 
<BR>
<!-- ##### LANGUE 2 : --> 
<BR>
<BR>
<BR>
<BR>






<B>EXP&Eacute;RIENCES PROFESSIONNELLES :</B>
<BR>
<HR NOSHADE WIDTH="100%" SIZE="1" >
<BR>
<B><U>EMPLOIS :</U></B>
<BR>
<BR>
<B>2000 : </B>	
<!-- ##### INTITULE DE VOTRE DERNIER EMPLOI : --> Emploi ...
<BR>
<I>Sujet :</I>
<!-- ##### SUJET DE VOTRE DERNIER EMPLOI : --> ...
<BR>
<BR>
<B>1999 : </B>
<!-- ##### INTITULE DE VOTRE AVANT-DERNIER EMPLOI : --> Emploi ...
<BR>
<I>Sujet :</I>
<!-- ##### SUJET DE VOTRE DERNIER AVANT-EMPLOI : --> ...
<BR>
<BR>
<BR>
<BR>




<B><U>STAGES :</U></B>
<BR>
<BR>
<B>2000 : </B>	
<!-- ##### INTITULE DE VOTRE DERNIER STAGE : --> Stage ...
<BR>
<I>Sujet :</I>
<!-- ##### SUJET DE VOTRE DERNIER STAGE : --> ...
<BR>
<BR>
<B>1999 : </B>
<!-- ##### INTITULE DE VOTRE AVANT-DERNIER STAGE : --> Stage ...
<BR>
<I>Sujet :</I>
<!-- ##### SUJET DE VOTRE DERNIER AVANT-STAGE : --> ...
<BR>
<BR>
<BR>
<BR>






<B>R&Eacute;F&Eacute;RENCES :</B><BR>
<HR NOSHADE WIDTH="100%" SIZE="1" >
<BR>
<B>
<!-- ##### NOM et PRENOM DE VOTRE PREMIERE REFERENCE :  --> nom et prénom 1
</B>
<BR>
<!-- ##### ADRESSE DE VOTRE PREMIERE REFERENCE - LIGNE 1 :  --> adresse ligne 1
<BR>
<!-- ##### ADRESSE DE VOTRE PREMIERE REFERENCE - LIGNE 2 :  --> adresse ligne 2
<BR>
<!-- ##### ADRESSE DE VOTRE PREMIERE REFERENCE - LIGNE 3 :  --> adresse ligne 3
<BR>T&eacute;l. : 
<!-- ##### NUMERO DE TELEPHONE DE VOTRE PREMIERE REFERENCE :  --> numéro de téléphone
<BR>E-mail : 
<A HREF="mailto:email1@email.fr">email1@email.fr</A>
<BR>
<BR>
<B>
<!-- ##### NOM et PRENOM DE VOTRE DEUXIEME REFERENCE :  --> nom et prénom 2
</B>
<BR>
<!-- ##### ADRESSE DE VOTRE DEUXIEME REFERENCE - LIGNE 1 :  --> adresse ligne 1
<BR>
<!-- ##### ADRESSE DE VOTRE DEUXIEME REFERENCE - LIGNE 2 :  --> adresse ligne 2
<BR>
<!-- ##### ADRESSE DE VOTRE DEUXIEME REFERENCE - LIGNE 3 :  --> adresse ligne 3
<BR>T&eacute;l. : 
<!-- ##### NUMERO DE TELEPHONE DE VOTRE DEUXIEME REFERENCE :  --> numéro de téléphone
<BR>E-mail : 
<A HREF="mailto:email2@email.fr">email2@email.fr</A>
<BR>
<BR>
<BR>
<BR>







<B> DIVERS :</B><BR>
<HR NOSHADE WIDTH="100%" SIZE="1" >
<BR>- 
<!-- ##### RENSEIGNEMENTS DIVERS 1 : --> Dépannage informatique.
<BR>- 
<!-- ##### RENSEIGNEMENTS DIVERS 2 : --> Cinéma.
<BR>- 
<!-- ##### RENSEIGNEMENTS DIVERS 3 : --> 

<BR>
<BR>






