    <div>
        <nav class='navbar navbar-default'>
            <div class='container-fluid'>
                <a class='navbar-brand'>{{pageTitle}}</a>
                <ul class='nav navbar-nav'>
      <li><a [routerLink] = "['/Accueil']">Accueil</a></li>
      <li><a [routerLink] = "['/origines']">Gestion des entrées Origine</a></li>
      <li><a [routerLink] = "['/Gestion_des_entrees']">Gestion des entrées</a></li>
      <li><a [routerLink] = "['/depenses']">Gestion des dépenses PostDepense</a></li>
      <li><a [routerLink] = "['/Gestion_des_depenses']">Gestion des dépenses</a></li>       
      <li><a [routerLink] = "['/Gestion_exceptionnelle']">Gestion exceptionnelle</a></li>
      <li><a [routerLink] = "['/Cv']">Cv</a></li>
      <li><a [routerLink] = "['/Contact']">Contact</a></li>
            
                </ul>
            </div>
        </nav>
        <div class='container'>
            <router-outlet></router-outlet>
        </div>
     </div>

<div class="container-fluid">
  <div class="content-container row">
    <div class="form-group">
      <h4>Ajouter Origine</h4>
    </div>
    <div class="form-group" *ngIf="origineData">
      <div class="alert alert-success" role="alert">Your changes saved successfully</div>
      <p>Here are your changes: {{origineData}}</p>
    </div>
    <div class="col-md-6">
      <form #f="ngForm" name="origineForm" (ngSubmit)="save(f.form)" novalidate>
        <div class="form-group">
          <label class="control-label">Intitulé</label>
          <input type="text" name="origineNom" #origineNom="ngModel" class="form-control" [(ngModel)]="origine.origineNom" required/>
          <label *ngIf="origineNom.control.hasError('required') && (origineNom.touched || submitted)" class="alert alert-danger validation-message">Origne Nom is required</label>
        </div>
        <div class="form-group">
          <label class="control-label">Montant</label>
          <input type="text" name="origineMontant" #origineMontant="ngModel" class="form-control" [(ngModel)]="origine.origineMontant" required/>
          <label *ngIf="origineMontant.control.hasError('required') && (origineMontant.touched || submitted)" class="alert alert-danger validation-message">Montant is required</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
          <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
      </form>
    </div>
  </div>
</div>
